:root {
  --main-black:#222222;
  --main-yellow:#ffc000;
  --main-blue:#179bd7;
  --main-dark:#1e2022;
  --main-red:#a91f23;
  --main-smoke:rgba(0, 0, 0, 0.125);
}

.modal-xl {
  min-width: 80% !important;
  margin-left: 16% !important;
}

.short-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
