:root {
  --main-black:#222222;
  --main-yellow:#ffc000;
  --main-blue:#161d2d;
  --main-dark:#1e2022;
  --main-red:#a91f23;
  --main-smoke:#fafafa;
  --main-green:#19c157;
  --main-grey:#aaa;
  --main-pink:#f83a5c;
}

.text-black {
  color: var(--main-black);
}

.text-yellow {
  color: var(--main-yellow);
}

.text-green {
  color: var(--main-green);
}

.color-pink {
  color: var(--main-pink) !important;
}

.color-grey {
  color: var(--main-grey) !important;
}

.text-blue {
  color: #0049ff !important;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

.small-text {
  font-size: 0.75rem;
}

.bg-green {
  background-color: var(--main-green);
}

.bg-smoke {
  background-color: var(--main-smoke);
}

.bg-blue {
  background-color: var(--main-blue);
}

.tiny-icon {
  max-width: 15px;
}

.small-icon {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  align-items: center;
}

.normal-icon {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.w-33 {
  width: 33% !important;
}

.main-border {
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px #efefef;
}

.content-company-invest img {
  max-width: 100% !important;
  -o-object-fit: contain;
     object-fit: contain;
}

.col5 {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 992px) {
  .col5 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media only screen and (max-width: 992px) {
  .col5 + .col5 {
    max-width: 50%;
  }

  .dropdown-menu {
    border: none !important;
  }

  .dropdown-item {
    padding: 0.25rem 0 !important;
  }
}
.invest-type-option {
  font-size: 14px;
}
.invest-type-option > div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.invest-type-option p {
  margin: 0 !important;
}

.invest-type-option:first-child h3 {
  background-color: #FFD700;
}

.invest-type-option:nth-child(2) h3 {
  background-color: #00BFFF;
}

.invest-type-option:last-child h3 {
  background-color: #FF4500;
}

.modal-dialog {
  top: 70px !important;
}

.space-top-10 {
  margin-top: 10px;
}

.space-bottom-10 {
  margin-bottom: 10px;
}

.line-h-40 {
  line-height: 40px;
}

.un-scroll {
  overflow: hidden;
}

.scroll-y {
  overflow-y: scroll;
}

.background-overlay {
  background: rgba(20, 20, 20, 0.85);
}

.modal-overlay-flash-dot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.short-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.short-text-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.short-text-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.auto-width-center {
  width: 100%;
  text-align: center;
}

#modal-invest-type___BV_modal_outer_ {
  z-index: 99999999;
}

.mr-auto-80 {
  margin: 0 auto;
  width: 80%;
}

.mr-l-10 {
  margin-left: 10px;
}

.mr-r-10 {
  margin-right: 10px;
}

.mr-t-10 {
  margin-top: 10px;
}

.mr-t-60 {
  margin-top: 60px;
}

.bold {
  font-weight: bold;
}

.content-invest-bestb {
  position: relative;
}

.zInd99 {
  z-index: 99;
}

@media only screen and (max-width: 1750px) {
  .content-invest-bestb.container-lg {
    width: 900px;
    margin-left: 14%;
  }
}
@media only screen and (max-width: 1350px) {
  .content-invest-bestb.container-lg {
    width: auto;
    margin-left: auto;
  }

  .qc-crowdfunding {
    display: none;
  }
}
